.alert{
  width: 35vw;
  padding-bottom: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15.5px;
  color: #d32f2f;
  align-content: center;
}
